body {
    background-color: rgb(32, 108, 207);
}
h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: orangered;
}
p {
    font-size: large;
}